{% extends 'bootstrap3/base_user.html' %}
{% block content %}
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <div class="error-template text-center"> <i class="fa fa-check fa-5x text-success mb50 animated zoomIn"></i>
          <h3 class="main-title centered"><span>Registro Completado</span></h3>
          <div class="main-title-description">
            <p>
              Le enviamos por correo electrónico las instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.
            </p>
            <p>
              Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y revise su carpeta de correo no deseado.
            </p>
          </div>
          <div class="error-actions"><a href="bootstrap3" class="btn btn-primary btn-lg">Continuar </a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}